*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 80px;
    background-color: antiquewhite;
    /* border: 1px solid black; */
}

.menu__item{
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    transition: text-decoration .4s;
}

.menu__item:hover{
    text-decoration: underline;
}

.menu__item--button--default{
    padding: 3px 5px;
    border: 3px;
    border: 1px dotted black;

}

.menu__item--success{
    color: grey ;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: greenyellow;
    border: 1px dotted black;
}

.cad-perfil{
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card-perfil__image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid blue;
}

